{% extends "remoteControlPhone/base.html" %}

{% block title %}Remote Phone{% endblock %}

{% block container %}

{% load staticfiles %}
<div class="row">
	<div class="span12">
		<div class="" id="loginModal">
			<div class="modal-body">
				<div class="well">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="login">
							<fieldset>
								<legend>
									Hi, {{user.username}}, now you can select one phone below to get its info.
								</legend>
								<table class="table table-bordered table-hover">
									{% for userDevice in userDevices %}
									<tr>
										<td><a href="device/{{userDevice.device.uniqueID}}/">{{userDevice.device.model}}</a></td>
									</tr>
									{% endfor %}
								</table>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}