<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--
		reset.css
		-->
		<link href="{% static "common/css/reset.css" %}" rel="stylesheet" type="text/css">

		<!--
		jquery
		-->
		<script type="text/javascript" src="{% static "jquery/js/jquery-1.9.1.min.js" %}"></script>

		<!--
		bootstrap
		-->
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" media="screen">
		<link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css" media="screen">
		<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "foo/js/Initialize.js" %}"></script>

		<!--
		resources of ourself
		-->
		<!-- <link href="{% static "foo/css/base.css" %}" rel="stylesheet" type="text/css"> -->
		<link href="{% static "foo/css/framework.css" %}" rel="stylesheet" type="text/css">

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div id="wrap">
			<!-- Fixed navbar -->
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="#">Project name</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active">
									<a href="#">Home</a>
								</li>
								<li>
									<a href="#about">About</a>
								</li>
								<li>
									<a href="#contact">Contact</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Action</a>
										</li>
										<li>
											<a href="#">Another action</a>
										</li>
										<li>
											<a href="#">Something else here</a>
										</li>
										<li class="divider"></li>
										<li class="nav-header">
											Nav header
										</li>
										<li>
											<a href="#">Separated link</a>
										</li>
										<li>
											<a href="#">One more separated link</a>
										</li>
									</ul>
								</li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</div>
			</div>

			<div class="container">
				{% block body_container %}
				<p>
					Here is the content
				</p>
				{% endblock %}
			</div>

		</div>
		<div id="footer">
			{% block footer %}
			<div class="container">
				<p class="muted credit pull-right">
					Footer
				</p>
			</div>
			{% endblock %}
		</div>
	</body>
</html>