{% extends "foo/base.html" %}

{% block title %}Index.html{% endblock %}

{% block body_container %}


<p>This is index.html</p>
<div class="row">
  <div class="span4">I don't think there is anything in your picture. What's your opinion?</div>
  <div class="span8">I don't think there is anything in your picture. What's your opinion?</div>
</div>

<div class="row-fluid">
  <div class="span4">I don't think there is anything in your picture. What's your opinion?</div>
  <div class="span8">I don't think there is anything in your picture. What's your opinion?</div>
</div>

{% endblock %}